// Extra-Light
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

// Extra-Light Italic
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

// Regular
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

// Medium (Slightly more bold)
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

// Medium (Slightly more bold) Italic
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

// Bold
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// Bold Italic
@font-face {
    font-family: "Montserrat";
    src: url("../../Assets/Fonts/Montserrat-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}